{% extends 'roadmap/base.html' %}

{% block title %}Goal List{% endblock title %}

{% block content %}

    {% for goal in goals %}
        <div class="card mt-4">
            <h5 class="card-header"><a href="{% url 'goal_detail' goal.slug %}">{{ goal.name }}</a></h5>
            <div class="card-body">
                <p class="card-text">Deadline: {{ goal.deadline|date:"F j, Y" }}</p>
                <a href="{% url 'goal_edit' goal.slug %}" class="btn btn-primary btn-sm btn-warning">Edit</a>
                <a href="{% url 'goal_delete' goal.slug %}" class="btn btn-primary btn-sm btn-danger">Delete</a>
            </div>
        </div>
    {% empty %}
        <p class="text-center mt-3">No goals yet. Create <a href="{% url 'goal_add' %}">one.</a></p>
    {% endfor %}
{% endblock content %}