{% extends 'roadmap/base.html' %}

{% block title %}{{ goal.name }}{% endblock title %}

{% block content %}
    <h1>{{ goal.name }}</h1>
    <p>Deadline: {{ goal.deadline|date:"F j, Y" }}</p>
    <a href="{% url 'goal_edit' goal.slug %}">Edit</a> |
    <a href="{% url 'goal_delete' goal.slug %}">Delete</a>
    {% for task in goal.tasks.all %}
        <ul>
            <li><p>{{ task }}</p></li>
        </ul>
    {% empty %}
        <p>No tasks available yet.</p>
    {% endfor %}
{% endblock content %}