<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Roadmap | Make your journey easy.</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div class="jumbotron text-center">
        <h1 class="display-4">Roadmap</h1>
        <p class="lead">Make your journey easy.</p>
        <hr class="my-4">
        <p>Not writing down your goals is like trying to sail the ocean without a map.</p>
        <p class="lead">
            <a class="btn btn-primary" href="{% url 'signup' %}" role="button">Create a roadmap to your destination</a><br><br>
            <a class="btn btn-secondary" href="{% url 'login' %}" role="button">See your roadmap</a>
        </p>
    </div>
</body>
</html>